page-home {

}

.pedido_div h2{
  margin-left: 5%;
}

.time_ped{
  margin-left: 5% !important;
}

.add_item{
  margin-left: auto
}

.add_pedido{
  position: fixed;
  right: 8%;
  bottom: 3%;
}

.pedido_realizado{
  color: #ff4027 !important;
}